body {
    background-color: rgb(95, 95, 95);
    margin: 50px;
}
h1 {
    color: purple;
}
header {
    background-color: pink;
}
div {
    text-align: center;
    background-color: whitesmoke;
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(67, 67, 67);
}
img {
    background-color: rgb(187, 187, 187);
    border-color: black;
    border-style: groove;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h3 {
    text-align: center;
    background-color: whitesmoke;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(67, 67, 67);
}